# docs
docs/_build
docs/api
!docs/_static/*.png

pyvisgen/_version_cache.py
pyvisgen/_version.py

#slurm
*.slurm
*.log

# images
*.jpg
*.pdf
*.gif
*.png

# make
*_done
*/build
*/*/build

*.ipynb_checkpoints
*.pyc
*.vscode
*.eggs
*.egg-info
.flake8
.makerc
.coverage
dist/
*.csv
coverage.xml
*.fits
*.swp
*.whl

.ruff_cache
