# A conda environment with all useful packages for pyvisgen developers
name: pyvisgen
channels:
    - pytorch
    - defaults
    - conda-forge
dependencies:
  - python
  - astropy<=6.1.0
  - numpy
  - matplotlib
  - pip
  - towncrier
  - jupyter
  - joblib
  - pip:
    - toma
